@model IEnumerable<AppQuinto.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-action="CadastrarCliente" asp-asp-controller="Cliente">Create New</a>
</p>
<table class="table">

        @foreach (Cliente cliente in Model)
            {
                <tr>
                    <td>@cliente.IdCli</td>
                    <td>@cliente.NomeCli</td>
                    <td>@cliente.Email</td>
                    <td>@cliente.DataNasc.ToString("dd/MM/yyyy")</td>
                    <td>@cliente.Telefone</td>
                    <td>
                        <button type ="button" class="btn btn-warning">
                            @Html.ActionLink("Editar", "Atualizarcliente", new { id = cliente.IdCli})
                        </button>
                        <button type="button" class="btn btn-secondary">
                            @Html.ActionLink("Detalhes", "Detalhescliente", new { id = cliente.IdCli })
                        </button>
                        <button type="button" class="btn btn-danger">
                            @Html.ActionLink("Excluir", "Excluircliente", new { id = cliente.IdCli},
                                    new{onclick = "return confirm('Deseja realmente desativar?');" })
                        </button>
                    </td>
                </tr>
        }
    </tbody>
</table>
